<%-include('../../views/partials/admin/adminHeader')%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Payment Type</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%orders.map((item,index)=>{%>
                                    <tr>
                                        <td>#<%=item.orderId%></td>
                                        <td><b><%=item.userId.name%></b></td>
                                        <td><%=item.paymentMethod%></td>
                                        <td>₹<%=item.finalAmount%></td>
                                        <%if(item.status==='Cancelled'){%>
                                            <td><span class="badge rounded-pill alert-danger"><%=item.status%></span></td>
                                            <%}else if(item.status==='Delivered'){%>
                                                <td><span class="badge rounded-pill alert-primary"><%=item.status%></span></td>

                                        <%}else{%>
                                            <td><span class="badge rounded-pill alert-warning"><%=item.status%></span></td>
                                        <%}%>
                                        <td><%=item.createdAt.toLocaleDateString()%></td>
                                        <td class="text-end">
                                            <a href="/admin/orderDetails?order_id=<%= item._id %>">
                                                <button class="btn btn-primary" >
                                                    View order
                                                </button>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <!-- Previous Button -->
                            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                <a class="page-link" href="?page=<%= currentPage - 1 %>">
                                    <i class="material-icons md-chevron_left"></i>
                                </a>
                            </li>
                
                            <!-- Page Numbers -->
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                
                            <!-- Next Button -->
                            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                    <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
            </section>




            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Zuka sports - Ecommerce.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>

        


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
