<%- include('../partials/user/header') %>

    <style>
        .checkout__input p {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .text-dark {
            color: #333;
        }

        .collapsible-content {
            display: none;
            margin-top: 10px;
        }

        .toggle-btn .toggle-payment {
            cursor: pointer;
            font-weight: bold;
            color: #007bff;
        }

        .custom-label {
            font-size: 18px;
            /* Adjust font size for label */
            display: flex;
            align-items: center;
        }

        .custom-label input {
            transform: scale(1.5);
            /* Resize the radio button */
            margin-right: 10px;
            /* Add spacing */
        }


        /* css for cards */
        .address-card {
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #ddd;
        }

        .address-card-header {
            background-color: #f8f9fa;
            /* Light gray */
            padding: 10px 20px;
            font-weight: bold;
            font-size: 1.25rem;
            border-bottom: 1px solid #ddd;
        }

        .address-card-body {
            padding: 20px;
            background-color: #ffffff;
            /* White */
        }

        .address-card-body p {
            margin-bottom: 0.8rem;
            font-size: 1rem;
            color: #333;
        }

        .address-card-body strong {
            color: #007bff;
            /* Bootstrap primary color */
        }

        .address-card-footer {
            background-color: #f8f9fa;
            border-top: 1px solid #ddd;
            padding: 10px 20px;
            text-align: right;
        }

        .btn-custom {
            margin-left: 10px;
            border-radius: 20px;
        }
    </style>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form>
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                                    here</a> to enter your code</h6>
                            <h6 class="checkout__title toggle-btn text-dark" id="toggle-billing">
                                Billing Details
                            </h6>

                            <!-- Collapsible Content -->
                            <div class="collapsible-content" id="billing-details">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Name<span>*</span></p>
                                            <input type="text" class="text-dark" id="name">
                                            <div id="nameError"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Phone<span>*</span></p>
                                            <input type="number" value="" class="text-dark" id="phone">
                                            <div id="phoneError"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Alternative Phone</p>
                                            <input type="number" value="" class="text-dark" id="altPhone">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="checkout__input">
                                            <p>Address Type<span>*</span></p>
                                            <select class="form-control text-dark" id="addressType">
                                                <option value="" disabled selected>Select Address Type</option>
                                                <option value="Home">Home</option>
                                                <option value="Work">Work</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <div id="addressTypeError"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input">
                                    <p>Address<span>*</span></p>
                                    <input type="text" placeholder="Street Address"
                                        class="checkout__input__add text-dark" id="address">
                                    <div id="addressError"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="checkout__input">
                                            <p>Country<span>*</span></p>
                                            <input type="text" class="text-dark" id="country">
                                            <div id="countryError"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="checkout__input">
                                            <p>State<span>*</span></p>
                                            <input type="text" class="text-dark" id="state">
                                            <div id="stateError"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="checkout__input">
                                            <p>City/Town<span>*</span></p>
                                            <input type="text" class="text-dark" id="city">
                                            <div id="cityError"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="checkout__input">
                                            <p>Pincode/ZIP<span>*</span></p>
                                            <input type="number" class="text-dark" id="pincode">
                                            <div id="pincodeError"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-dark py-3 px-5 mb-5 " id="addBtn">Add</button>
                                </div>
                                <div class="row">
                                    <%if(userAddress){%>
                                        <% userAddress.address.map((item, index)=> { %>
                                            <div class="card shadow-sm col-4 m-2">
                                                <div class="card-body">
                                                    <div class="form-check">
                                                        <input class="form-check-input text-danger" type="radio"
                                                            name="selectedAddress" id="address_<%= index %>"
                                                            value="<%= index %>" data-item='<%= JSON.stringify(item) %>'
                                                            onclick="selectAddress(this)">
                                                        <label class="form-check-label" for="address_<%= index %>">
                                                            <b>Select </b>
                                                        </label>
                                                    </div>
                                                    <hr>
                                                    <h5 class="card-title">
                                                        <b>
                                                            <%= item.addressType %> Address
                                                        </b>
                                                    </h5>
                                                    <p class="card-text">
                                                        <strong>Name:</strong>
                                                        <%= item.name %><br>
                                                            <strong>Address:</strong>
                                                            <%= item.address %><br>
                                                                <strong>City:</strong>
                                                                <%= item.city %><br>
                                                                    <strong>State:</strong>
                                                                    <%= item.state %><br>
                                                                        <strong>ZIP Code:</strong>
                                                                        <%= item.pincode %><br>
                                                                            <strong>Phone:</strong>
                                                                            <%= item.phone %>
                                                    </p>

                                                </div>
                                            </div>
                                            <% }) %>
                                                <%}else{%>
                                                    <div class="card shadow-sm col-4 m-2">
                                                        <div class="card-body">
                                                            <div>No saved address found</div>
                                                        </div>
                                                    </div>
                                                    <%}%>
                                </div>

                                <!-- <div>
                                    <button class="btn btn-dark py-3 px-5 mb-5 ">Next</button>
                                </div> -->
                            </div>
                            <h6 class="checkout__title toggle-btn text-dark mt-3" id="toggle-payment">
                                Payment Details
                            </h6>

                            <!-- Collapsible Content -->
                            <div class="collapsible-content" id="payment-details">

                                <div class="my-4">
                                    <label class="custom-label">
                                        <input type="radio" name="paymentMethod" value="Wallet"
                                            class="form-check-input ml-2">
                                        <span class="pl-5">Wallet <span class="fs-6 text-secondary">Rs:
                                                <%=wallet?.balance?wallet.balance.toFixed(2):0%>
                                            </span></span>

                                    </label>
                                </div>
                                <div class="my-4">
                                    <label class="custom-label">
                                        <input type="radio" name="paymentMethod" value="Cash on Delivery"
                                            class="form-check-input ml-2">
                                        <span class="pl-5">Cash on Delivery</span>
                                    </label>
                                </div>

                                <div class="my-4">
                                    <label class="custom-label">
                                        <input type="radio" name="paymentMethod" class="form-check-input ml-2"
                                            value="Razorpay">
                                        <span class="pl-5">Razorpay</span>
                                    </label>
                                </div>
                                <!-- <div class="my-4">
                                    <label class="custom-label">
                                        <input type="radio" name="options" class="form-check-input ml-2">
                                        <span class="pl-5">Credit or debit card</span>
                                    </label>
                                </div>
                                <div class="row ml-5">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <input type="text" class="text-dark" placeholder="Card Number">
                                        </div>
                                    </div>

                                </div>
                                <div class="row ml-5">
                                    <div class="col-lg-3">
                                        <div class="checkout__input">
                                            <input type="text" class="text-dark" placeholder="MM/YY">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="checkout__input">
                                            <input type="text" class="text-dark" placeholder="CVC">
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="my-4">
                                    <label class="custom-label">
                                        <input type="radio" name="options" class="form-check-input ml-2">
                                        <span class="pl-5">Gpay </span>
                                    </label>
                                </div> -->
                                <!-- <div>
                                    <button id="submitBtn" class="btn btn-dark py-3 px-5 mb-5 ml-5">Next</button>
                                </div> -->
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <%userCart.items.map((item,index)=>{%>
                                        <li>
                                            <%=index+1%>. <%=item.productId.productName%> <span>
                                                        ₹<%=item.totalPrice%>.00
                                                    </span>
                                        </li>
                                        <%})%>
                                            <!-- <li>02. German chocolate <span>170.00</span></li>
                                    <li>03. Sweet autumn <span>170.00</span></li>
                                    <li>04. Cluten free mini dozen <span>110.00</span></li> -->
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span class="text-dark">₹ <%=(userCart.items.reduce((acc,curr)=>acc+curr.totalPrice,0).toFixed(2))%></span></li>
                                    <li>Discount <span>-₹ <%=couponDiscount%></span></li>
                                    <li>Total:<span id="totalAmount" class="text-dark">
                                           
                                            <!-- ₹ <%=userCart.items.reduce((acc,curr)=>acc+curr.totalPrice,0)%> -->
                                            <% 
                                            const totalPrice = userCart.items.reduce((acc, curr) => acc + curr.totalPrice, 0);
                                            const finalPrice = totalPrice >= couponMin ? (totalPrice - couponDiscount) : totalPrice;
                                          %>
                                          <%= finalPrice %>
                                        </span></li>
                                </ul>

                                <button id="placeOrder" type="submit" class="site-btn">PLACE
                                    ORDER</button>

                            </div>
                        </div>

                    </div>


            </div>
            </form>

        </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    </body>

    </html>
    <script>
        // JavaScript to toggle visibility
        const toggleBtn = document.getElementById('toggle-billing');
        const billingDetails = document.getElementById('billing-details');

        toggleBtn.addEventListener('click', () => {
            if (billingDetails.style.display === 'none' || billingDetails.style.display === '') {
                billingDetails.style.display = 'block'; // Show details
            } else {
                billingDetails.style.display = 'none'; // Hide details
            }
        });
    </script>
    <script>
        // JavaScript to toggle visibility
        const paymentToggleBtn = document.getElementById('toggle-payment');
        const paymentDetails = document.getElementById('payment-details');

        paymentToggleBtn.addEventListener('click', () => {
            if (paymentDetails.style.display === 'none' || paymentDetails.style.display === '') {
                paymentDetails.style.display = 'block'; // Show details
            } else {
                paymentDetails.style.display = 'none'; // Hide details
            }
        });
    </script>

    <!-- <script>
        let addressObj = null
        let selectAddress = (radioButton) => {
            const selectedIndex = radioButton.value;
            const selectedItem = JSON.parse(radioButton.getAttribute('data-item'));

            console.log("Selected Address Index:", selectedIndex);
            console.log("Selected Address Details:", selectedItem);
            addressObj = {
                index: selectedIndex,
                address: selectedItem
            }

        }
        document.getElementById('placeOrder').addEventListener('click', (e) => {
            e.preventDefault();
            const selectedOption = document.querySelector('input[name="paymentMethod"]:checked');
            let totalAmount = document.getElementById('totalAmount').textContent;
            console.log(totalAmount)



            if (addressObj !== null) {
                console.log("select address : ", addressObj);
            } else {
                Swal.fire({
                    title: 'Address Missing!',
                    text: 'Please choose a address!',
                    icon: 'warning',
                    confirmButtonText: 'Okay'
                })
            }

            if (selectedOption) {
                console.log("Selected Payment Method:", selectedOption.value);
            } else {
                Swal.fire({
                    title: 'Missing!',
                    text: 'Please choose a payment method!',
                    icon: 'warning',
                    confirmButtonText: 'Okay'
                })
            }

            try {
                axios.post('/placeOrder', {
                    totalPrice: Number(totalAmount),
                    address: addressObj.address,
                    paymentMethod: selectedOption.value,
                    index:addressObj.index
                })
                .then(res=>{
                    if(res.status==200){
                        let id = res.data.orderId
                        console.log("order id is : ",id)
                        window.location.href = `/orderSuccess?id=${id}`
                    }
                })
                
                console.log("fetch done")
            } catch (error) {
                console.log(error)
            }

        });


    </script> -->

    <script>
        let addressObj = null;

        let selectAddress = (radioButton) => {
            const selectedIndex = radioButton.value;
            const selectedItem = JSON.parse(radioButton.getAttribute('data-item'));

            console.log("Selected Address Index:", selectedIndex);
            console.log("Selected Address Details:", selectedItem);
            addressObj = {
                index: selectedIndex,
                address: selectedItem
            }
        }

        document.getElementById('placeOrder').addEventListener('click', async (e) => {
            e.preventDefault();
            const selectedOption = document.querySelector('input[name="paymentMethod"]:checked');
            let totalAmount = document.getElementById('totalAmount').textContent;

            if (!addressObj) {
                Swal.fire({
                    title: 'Address Missing!',
                    text: 'Please choose an address!',
                    icon: 'warning',
                    confirmButtonText: 'Okay'
                });
                return;
            }

            if (!selectedOption) {
                Swal.fire({
                    title: 'Payment Method Missing!',
                    text: 'Please choose a payment method!',
                    icon: 'warning',
                    confirmButtonText: 'Okay'
                });
                return;
            }

            console.log("Selected Address:", addressObj);
            console.log("Selected Payment Method:", selectedOption.value);

            // Proceed with payment flow based on the selected payment method
            try {
                if (selectedOption.value === "Razorpay") {
                    // Create Razorpay order on the server
                    console.log("it is razorPay")
                    const { data } = await axios.post('/payment/createRazorpayOrder', {
                        totalPrice: Number(totalAmount)
                    });

                    console.log("Razorpay Order Data:", data);

                    // Initialize Razorpay checkout
                    const options = {
                        key: data.key,
                        amount: data.order.amount,
                        currency: data.order.currency,
                        name: "Zuka Sports",
                        description: "Order Payment",
                        order_id: data.order.id,
                        handler: async function (response) {
                            console.log("Payment Successful!", response);

                            // Verify payment on the server
                            const verification = await axios.post('/payment/verifyRazorpayPayment', {
                                razorpay_order_id: response.razorpay_order_id,
                                razorpay_payment_id: response.razorpay_payment_id,
                                razorpay_signature: response.razorpay_signature,
                                // paymentDetails: response,
                                totalPrice: Number(totalAmount),
                                address: addressObj.address,
                                index: addressObj.index
                            });
                            console.log("verification done")

                            if (verification.data.success) {
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'Payment completed successfully!',
                                    icon: 'success',
                                    confirmButtonText: 'Okay'
                                }).then(() => {
                                    window.location.href = `/orderSuccess?id=${verification.data.orderId}`;
                                    // window.location.href = `/orderSuccessff?id=${985034285}`;
                                });
                            } else {
                                Swal.fire({
                                    title: 'Verification Failed!',
                                    text: 'Payment verification failed. Please contact support.',
                                    icon: 'error',
                                    confirmButtonText: 'Okay'
                                });
                            }
                        },
                        theme: {
                            color: "#3399cc"
                        }
                    };

                    const rzp = new Razorpay(options);
                    rzp.open();
                } else {

                    Swal.fire({
                        title: "Place Order?",
                        text: "Are you sure you want to confirm this order?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, Place Order!",
                        cancelButtonText: "No, Cancel"
                    }).then(async result => {
                        if (result.isConfirmed) {

                            const response = await axios.post('/placeOrder', {
                                totalPrice: Number(totalAmount),
                                address: addressObj.address,
                                paymentMethod: selectedOption.value,
                                index: addressObj.index
                            });

                            if (response.status === 200) {
                                let id = response.data.orderId;
                                console.log("Order ID:", id);
                                window.location.href = `/orderSuccess?id=${id}`;
                            }
                        }
                    })
                }

            } catch (error) {
                console.error("Error during payment:", error);
                if (error.response && error.response.status == 402) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Insufficient Balance',
                        text: error.response.data.message,
                    })
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Something went wrong. Please try again later.',
                        icon: 'error',
                        confirmButtonText: 'Okay'
                    });
                }
            }
        });
    </script>


    <script>
        //add address
        const addBtn = document.getElementById('addBtn');
        const name = document.getElementById('name');
        const phone = document.getElementById('phone');
        const altPhone = document.getElementById('altPhone');
        const addressType = document.getElementById('addressType');
        const address = document.getElementById('address');
        const country = document.getElementById('country');
        const state = document.getElementById('state');
        const city = document.getElementById('city');
        const pincode = document.getElementById('pincode');

        addBtn.addEventListener('click', (e) => {
            e.preventDefault();
            console.log("inside button click")

            //=============================
            function validateAddressForm() {
                const nameError = document.getElementById('nameError');
                const phoneError = document.getElementById('phoneError');
                const addressTypeError = document.getElementById('addressTypeError');
                const addressError = document.getElementById('addressError');
                const cityError = document.getElementById('cityError');
                const pincodeError = document.getElementById('pincodeError');
                const countryError = document.getElementById('countryError');
                const stateError = document.getElementById('stateError');

                const nameRegex = /^[a-zA-Z\s]{1,50}$/;
                const phoneRegex = /^[0-9]{10}$/;
                const addressRegex = /^[a-zA-Z0-9\s,.-]{1,255}$/;
                const cityRegex = /^[a-zA-Z\s]+$/;
                const pincodeRegex = /^[0-9]{6}$/;


                if (!nameRegex.test(name.value.trim())) {
                    nameError.style.color = "red";
                    nameError.innerHTML = "Invalid name. Please enter only alphabets";
                    name.focus();
                    return false;
                } else {
                    nameError.innerHTML = "";

                }

                if (!phoneRegex.test(phone.value.trim())) {
                    phoneError.style.color = "red";
                    phoneError.innerHTML = "Invalid phone number. Please enter a 10-digit number.";
                    phone.focus();
                    return false;
                } else {
                    phoneError.innerHTML = "";
                }

                if (addressType.value.trim() === "") {
                    addressTypeError.style.color = "red";
                    addressTypeError.innerHTML = "Please select an address type.";
                    addressType.focus();
                    return false;
                } else {
                    addressTypeError.innerHTML = "";
                }

                if (!addressRegex.test(address.value.trim())) {
                    addressError.style.color = "red";
                    addressError.innerHTML = "Invalid address. Please check for special characters.";
                    address.focus();
                    return false;
                } else {
                    addressError.innerHTML = "";
                }

                if (country.value.trim() === "") {
                    countryError.style.color = "red";
                    countryError.innerHTML = "Please select a country.";
                    country.focus();
                    return false;
                } else {
                    countryError.innerHTML = "";
                }

                if (state.value.trim() === "") {
                    stateError.style.color = "red";
                    stateError.innerHTML = "Please select a state.";
                    state.focus();
                    return false;
                } else {
                    stateError.innerHTML = "";
                }

                if (!cityRegex.test(city.value.trim())) {
                    cityError.style.color = "red";
                    cityError.innerHTML = "Invalid city. Please enter only alphabets.";
                    city.focus();
                    return false;
                } else {
                    cityError.innerHTML = "";
                }

                if (!pincodeRegex.test(pincode.value.trim())) {
                    pincodeError.style.color = "red";
                    pincodeError.innerHTML = "Invalid pincode. Please enter a 6-digit number.";
                    pincode.focus();
                    return false;
                } else {
                    pincodeError.innerHTML = "";
                }
                return true;
            }
            //=============================
            if (validateAddressForm()) {
                console.log("inside validate")

                axios.post('/addAddress', {
                    name: name.value,
                    // email:email.value,
                    phone: phone.value,
                    altPhone: altPhone.value,
                    addressType: addressType.value,
                    address: address.value,
                    country: country.value,
                    state: state.value,
                    city: city.value,
                    pincode: pincode.value
                }).then(res => {
                    if (res.status == 200) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Address added successfully!',
                            icon: 'success',
                            confirmButtonText: 'Okay'
                        }).then(() => {
                            window.location.reload()
                        })
                    }
                })
            }
        })
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>